# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!CLIENT_DATA/files/setup.exe
*.out
*.app


# other opsi related files
*.opsi
*.md5
*.zsync
*.cab
*.wim
*.msi
*.msp
*.ref
*.zip
*.com
*.sys
*.res
                                                                                                                                        67,1          Bot

